body {
    margin: 0%;
    padding: 0%;
}
/*===================================================*/
/*                      HEADER                       */
/*===================================================*/
.navbar {
    padding: 0%!important;
    background-color: rgb(92, 92, 92);
}
.navbar-brand {
    margin-left: 5px;
}
.navbar-collapse {
    margin-left: 3%;
}
.nav-item {
    padding: 15px!important;
    text-align: center;
}
.nav-link {
    color: rgb(255, 255, 255);
}
@media (min-width: 100px) and (max-width: 991px){
    .nav-item {
        text-align: left;
    }
    .nav-link {
        font-size: 14px;
        font-weight: 500;
    }
    .img-logo { display: none; }
    #name-logo { 
        display: block; 
        padding: 25px;
        font-weight: bold;
        font-size: 22px;
    }
    .light-logo {
        color: orangered;
        font-weight: normal;
    }
    .navbar-toggler {
        margin-right: 5%;
    }
}
@media (min-width: 992px) and (max-width: 2000px){
    .nav-link {
        font-size: 16px;
        font-weight: 500;
    }
    .img-logo {
        height: auto;
        width: 160.5px;
    }
    #name-logo {
        display: none;
    }
    .navbar-brand {
        margin-left: 25px!important;
    }
}
/*===================================================*/
/*                       MAIN                        */
/*===================================================*/
main {
    height: 700px;
    background-color: rgb(54, 54, 54);
    margin-bottom: 5%;
}
/*===================================================*/
/*                     FOOTER                        */
/*===================================================*/
.footbar {
    height:  130px;
    width: 100%;
    background-color: rgb(92, 92, 92);
}

.footbar-boxs {
    height: 130px;
    width: 33.3%;
    float: left;
    text-align: center;
    color: white;
}










